{% macro card(cardTitle, cardDescription, imgCollections) %}
<div class="card variant-headline">
  <div class="card-body d-flex flex-column justify-content-lg-around">
    <h5 class="card-title">{{cardTitle}}</h5>
    <p class="card-text">{{cardDescription}}</p>
    <div class="d-flex justify-content-start">
      {% for item in imgCollections %}
        <img id={{item}} title={{item}} class="img-techstack" src="./assets/images/{{item}}.png" alt="item">
      {% endfor %}
    </div>
  </div>
</div>
{% endmacro %}
