{% import 'templates/components/hero-title.twig' as title %}
{% import 'templates/components/card-small.twig' as cardSmall %}
{% import 'templates/components/card-headline.twig' as cardHeadline %}
{% import 'templates/components/small-subtitle.twig' as subtitle %}

{% extends 'templates/partials/base.twig' %}
{% block main %}
  <div class="container">
    <div id="hero" class="hero">
      <div class="hero-img-container position-absolute zindex-1">
        <img class="hero-img" src="./assets/images/hero.png" alt="digicraft-hero-image" />
        <div class="overlay position-absolute zindex-1"></div>
      </div>
      <div class="position-relative zindex-1 ms-lg-5 title-container">{{ title.stringValue('display-1', 'Creative Meets Technology') }}</div>
    </div>
  </div>

  <div class="container ms-lg-5 pb-5">
    <div class="3-cards-container d-flex justify-content-start ms-lg-5 flex-column flex-lg-row mt-5">{{ cardSmall.card('Strategy', 'We recognise needs for businesses.') }}
      {{ cardSmall.card('Design', 'We build interfaces with better usability.') }}
      {{ cardSmall.card('Development', 'We develop smart and modern solutions.') }}</div>
  </div>

  <div class="container pt-2 pt-lg-5 pb-5">
    <div class="ms-lg-5">
      <div class="position-relative zindex-2">
        {{ subtitle.subtitle('Welcome') }}
        <div class="w-100 w-lg-75">{{ title.stringValue('display-1', 'How we help you level-up') }}</div>
      </div>

      <div class="d-flex how-we-help-container position-relative zindex-1 flex-lg-row flex-column">
        <div class="img-container position-relative">
          <img src="./assets/images/how-we-help.jpg" alt="how-we-help-you" />
          <div class="overlay"></div>
        </div>
        <div class="description-container p-3 p-lg-5">
          <p class="display-6 description mb-0 pb-5">We thrive on developing and designing digital products and integrated technology solutions to help you spend wisely and grow faster.</p>
          <div class="card-container d-flex flex-lg-row flex-column">{{ cardSmall.card('Services', 'We are committed on delivering technology, innovation, and value to help our clients address their business challenges.') }}
            {{ cardSmall.card('About Us', 'We are experts in all areas of software development and digital solutions, and we strive to provide the best solutions for each unique use case.') }}</div>
        </div>
      </div>
    </div>
  </div>

  <div class="container pt-lg-5 pb-5">
    <div class="ms-lg-5">
      <div class="position-relative zindex-2">
        {{ subtitle.subtitle('Expertise') }}
        <div class="w-100 w-lg-75 mb-5">{{ title.stringValue('display-3', 'Our Services') }}</div>
      </div>

      <div class="d-flex justify-content-start flex-wrap flex-lg-row flex-column">{{ cardHeadline.card('Web Development', 'Build robust and intuitive web experiences that scales easily. We specialize in building modern web apps, websites and single page applications using the latest technologies and best practices.', ['Nodejs', 'Vuejs','Bootstrap', 'Phaser', 'MongoDB']) }}

        {{ cardHeadline.card('UI/UX', 'Engaging digital experiences, built for humans. We specialize in translating business requirements into rich user experiences that your customers will love.', ['Adobe-XD', 'Figma']) }}

        {{ cardHeadline.card('API Service', 'Engaging digital experiences, built for humans. We specialize in translating business requirements into rich user experiences that your customers will love.', ['Nodejs']) }}

        {{ cardHeadline.card('Analytics', 'We can help you capture valuable insights and metrics into how your customers behave throughout your entire digital experience. This lets your business better target your customers and increase conversion rates.', ['Google-Tag-Manager', 'Google-Analytics']) }}

        {{ cardHeadline.card('Consulting', 'Leverage on LWDs team of subject matter experts (SME) to plan and drive your businesss digtal transformation.') }}</div>
    </div>
  </div>

  <div class="container pt-lg-5">
    <div class="ms-lg-5">
      <div class="position-relative zindex-2">
        <div class="w-100 w-lg-75 mb-5">{{ title.stringValue('display-3', 'Our Clients') }}</div>
      </div>
    </div>
  </div>

  <div class="container pt-lg-5">
    <div class="ms-lg-5 d-flex inquiry-form flex-wrap">
      <div class="w-100 w-lg-50 position-relative zindex-2">
        {{ subtitle.subtitle('Contact') }}
        <div class="mb-5 me-5">{{ title.stringValue('display-5 hover-primary', 'Let&#39;s talk about doing something amazing together.') }}</div>
      </div>
      <div class="w-100 w-lg-50">
        {% include 'templates/components/inquiry-form.twig' %}
      </div>
    </div>
  </div>
{% endblock %}
